@model DataProcessing.Core.Web.Models.B2BSearchModel

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Business to Business </b></h4>
            <p class="text-muted m-b-30 font-13">
                You can use this below search critiria to filter
            </p>
            <div class="row">
                <div class="col-md-6">
                    <div class="p-20">
                        <form action="#">
                            <div class="form-group">
                                <label>Country</label>
                                <select asp-for="SearchBlock.CountryId" id="b2bCountry"
                                        class=form-control multiple placeholder="Please select"
                                        asp-items="@Model.SearchBlock.Country"></select>
                            </div>
                            <div class="form-group">
                                <label>State</label>
                                <select asp-for="SearchBlock.StateId" id="b2bState"
                                        class=form-control multiple placeholder="Please select"
                                        asp-items="@Model.SearchBlock.State"></select>
                            </div>
                            <div class="form-group">
                                <label>Area</label>
                                <select asp-for="SearchBlock.AreaId" id="b2bArea"
                                        class=form-control multiple placeholder="Please select"
                                        asp-items="@Model.SearchBlock.Area"></select>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="p-20">
                        <form action="#">

                            <div class="form-group">
                                <label>City</label>
                                <select asp-for="SearchBlock.CityId" id="b2bCity"
                                        class=form-control multiple placeholder="Please select"
                                        asp-items="@Model.SearchBlock.City"></select>
                            </div>
                            <div class="form-group">
                                <label>Business Category</label>
                                <select asp-for="SearchBlock.BusinessCategoryId" id="b2bCategory"
                                        class=form-control multiple placeholder="Please select"
                                        asp-items="@Model.SearchBlock.BusinessCategory"></select>
                            </div>
                            <div class="form-group">
                                <label>Desigination</label>
                                <select asp-for="SearchBlock.DesiginationId" id="b2bDesigination"
                                        class=form-control multiple placeholder="Please select"
                                        asp-items="@Model.SearchBlock.Desigination"></select>
                            </div>
                        </form>
                    </div>
                </div>


                <div>
                    <div>
                        <div class="form-group m-b-0" style="margin-top:50px;">
                            <button type="button" id="btnBusinessToBusinessSearch" class="btn btn-primary waves-effect waves-light">Search</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="divBlock" style="display:none">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <p class="text-muted m-b-30 font-13">
                    Search summary, you can download the complete by using download either excel or csv.
                </p>

                <div class="row">
                    <div class="col-md-4 col-xl-4">
                        <div class="card-box">
                            <div class="bar-widget">
                                <div class="table-box">
                                    <div class="table-detail">
                                        <div class="iconbox bg-custom">
                                            <i class="icon-trophy"></i>
                                        </div>
                                    </div>

                                    <div class="table-detail">
                                        <h4 class="m-t-0 m-b-5 font-18"><b>Total</b></h4>
                                        <h5 id="b2bTotal" class="text-muted m-b-0 m-t-0">95</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <div class="card-box">
                            <div class="bar-widget">
                                <div class="table-box">
                                    <div class="table-detail">
                                        <div class="iconbox bg-custom">
                                            <i class="icon-trophy"></i>
                                        </div>
                                    </div>

                                    <div class="table-detail">
                                        <h4 class="m-t-0 m-b-5 font-18"><b>Result</b></h4>
                                        <h5 id="b2SearchTotal" class="text-muted m-b-0 m-t-0">95</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <div class="btn-group dropdown show">
                            <button type="button" class="btn btn-success waves-effect waves-light">Download</button>
                            <button type="button" class="btn btn-success dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true"><i class="caret"></i></button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" id="excelDown" href="#">Excel</a>
                                <a class="dropdown-item" id="csvDown" href="#">CSV</a>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger" style="display:none;" id="searchRequestMessage">
                        
                    </div>
                </div>

                <div class="row" style="max-height: 265px;overflow-y: scroll;">
                    <div class="col-md-12 col-xl-12" id="b2bDashboard">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/js/BusinessToBusiness.js"></script>